@model Menu.Client.Models.ErrorViewModel

@{
    ViewBag.Title = "Ошибка!";
}

<br/>
<div class="alert alert-danger" role="alert">
    <h2>Ошибка сервера в приложении</h2>
</div>

<br/>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title"><b>@Html.DisplayTextFor(m => m.Title)</b></h3>
    </div>
    <div class="panel-body">
        <h4><b>Описание:</b> @Html.DisplayTextFor(m => m.Message)</h4>
        
        <div>
            @Html.ActionLink("Вернуться на главную", "Index")
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
