@model IEnumerable<Menu.Client.Models.CategoryViewModel>

@{
    ViewBag.Title = "Категории позиций меню";
}

<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <h3>Категории позиций меню:</h3>
        </h3>
    </div>
    <div class="panel-body">
        <p>
            <a href="@Url.Action("Create", "Category")" class="btn btn-success">
                Добавить категорию
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            <a href="@Url.Action("MenuItems", "Home")" class="btn btn-success">
                Перейти к списку позиций
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            </a>

        </p>

        <table class="table-striped table-hover ">

            @foreach (var item in Model)
            {
                <tr>
                    <td style="min-width: 353px; padding-left: 20px">
                        <h4>@Html.ActionLink(item.Name, "Get", "Category", new { id = item.Id }, null)</h4>
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", "Category", new {id = item.Id})" class="btn btn-danger">                          
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td></td>
                </tr>
            }

        </table>    </div>
</div>

