@model IEnumerable<Menu.Client.Models.CategoryViewModel>

@{
    ViewBag.Title = "Категории позиций меню";
}

<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <h3>Категории позиций меню:</h3>
        </h3>
    </div>
    <div class="panel-body">
        <p>
            @Html.ActionLink("Добавить категорию", "Create", "Category", null, new { @class = "btn btn-success btn-large" })
            @Html.ActionLink("Перейти к списку позиций", "MenuItems", null, new { @class = "btn btn-success btn-large" })
        </p>

        <table class="table-striped table-hover table-bordered">

            @foreach (var item in Model)
            {
                <tr>
                    <td style="min-width: 600px; padding-left: 20px">
                        <h4>@Html.ActionLink(item.Name, "Get", "Category", new { id = item.Id }, null)</h4>
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Delete", "Category", new { id = item.Id }, new { @class = "btn btn-danger glyphicon glyphicon-remove" })
                    </td>
                    <td></td>
                </tr>
            }

        </table>    </div>
</div>

